input, textarea, button
 	border none
 	outline none
 	background white
 	
a
	text-decoration none
	color inherit
	cursor pointer

*
	box-sizing border-box
	padding 0 0
	margin 0 0
	&:before, &:after
		box-sizing border-box
  
html
    font-size 62.5%
    line-height 62.5%
    min-height 100%
    
body
    min-height 100%
    // font-family 'Gilroy'
    font-size 1.4rem
    color black
    
strong
    font-weight 600
b
    font-weight 700