




/*Main colors ———————————————————————*/
$black: #1b1b1b;
$black-text: rgba(0,0,0,.8);


/*Box shadow ———————————————————————*/
$btn-shadow: 0 30px 52px -12px rgba(0, 0, 0, 0.3);
$img-shadow: 0 40px 102px -12px rgba(80,91,96, 0.65);


/*Media ——————————————————————————*/
$xs-width: 768px;
$sm-width: 1024px;
$lg-width: 1600px;






/*MIXIN Box shadow —————————————————————*/
@define-mixin bth-shadow $rgba {
	box-shadow: 0 30px 52px -12px $rgba;
}
@define-mixin img-shadow $rgba {
	box-shadow: 0 40px 102px -12px $rgba;
}


/*MIXIN Text styles ——————————————————————*/
@define-mixin text $font-size, $font-weight, $font-family, $color, $line-height {
	font-size: $font-size;
	font-weight: $font-weight;
	font-family: $font-family, 'Trebuchet MS', 'Tahoma', 'Arial', 'sans-serif';
	color: $color;
	line-height: $line-height;
}

/*MIXIN Media —————————————————————*/
@define-mixin xs {
	@media (max-width: calc($xs-width - 1px)) {
		@mixin-content;
	}
}

@define-mixin sm {
	@media (min-width: $xs-width) and (max-width: calc($sm-width - 1px)) {
		@mixin-content;
	}
}

@define-mixin md {
	@media (min-width: $sm-width) {
		@mixin-content;
	}
}

@define-mixin lg {
	@media (min-width: $lg-width) {
		@mixin-content;
	}
}
