@require "utilities/*"
@require "default/index.styl"
@require "layout/*"
@require "components/*"


html
	font-size 62.5%
	line-height 62.5%
	min-height 100%
	
body
	min-height 100%

/*————————————————————————*/

@require "pages/*"