@require "utilities/index.styl"
@require "fonts/index.styl"
@require "default/index.styl"
@require "components/index.styl"

input, textarea
 	border none
 	outline none

*
	box-sizing border-box
	&:before, &:after
		box-sizing border-box

html
	font-size 62.5%
	line-height 62.5%


/*————————————————————————*/