// @font-face {
// 	font-family: 'font';
// 	src: url('/fonts/fontname.eot');
// 	src: url('/fonts/fontname.eot?#iefix') format("embedded-opentype"), 
// 	url('/fonts/fontname.woff2') format("woff2"), 
// 	url('/fonts/fontname.woff') format("woff"), 
// 	url('/fonts/fontname.ttf') format("truetype");
// 	font-weight: 400;
// 	font-style: normal;
// 	font-display: swap;
// }